{
  "extends": [
      "airbnb",
      "airbnb-typescript",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}